body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid; 
    border-color: black; 
    border: 10px;
}


.sps-grid {
    margin: 10px auto;
    display: block;
    padding: 10px;
    width: 200px;
    font-family: Helvetica;
    font-weight: 900;
    background-color: purple;
    color: white;
    border: solid purple 2px;
    border-radius: 5px;
}

.sps-grid:hover {
    color: purple;
    background-color: white;
    border: solid purple 2px;
}

#grid-box {
    background-color: beige;
}